:root {
    --color-white: #fff;
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #eee;
    --color-grey-dark-1: #777;
    --color-blue-light-1: #1973b8;
    --color-blue-dark-1: #072146;
    --line: 1px solid var(--color-grey-light-2);
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%;
    }
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-grey-dark-1);
    min-height: 100vh;
  }